<section class="flex flex-col py-10 md:flex-row md:p-20 gap-y-4">
  <div class="flex-1 grid grid-cols-2 gap-4">
    <div class="text-center">
      <img src="favicon.svg" class="w-20 m-auto">
      <p>Dev management</p>
    </div>
    <div class="text-center">
      <img src="favicon.svg" class="w-20 m-auto">
      <p>Dev management</p>
    </div>
    <div class="text-center">
      <img src="favicon.svg" class="w-20 m-auto">
      <p>Dev management</p>
    </div>
    <div class="text-center">
      <img src="favicon.svg" class="w-20 m-auto">
      <p>Dev management</p>
    </div>
  </div>

  <div class="flex flex-1 flex-col gap-y-10 text-center">
    <h2 class="text-5xl font-bold">Lorem ipsum dolor sit.</h2>
    <p class="text-3xl text-zinc-300">Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, quasi.</p>
  </div>
</section>