---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Acerca de mi sitio'>
	<h1>About page</h1>
	Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo, eligendi mollitia deserunt, corrupti magnam labore quam molestiae fugit obcaecati ducimus inventore asperiores illum voluptatum unde numquam nam iste explicabo assumenda ex sed sint voluptatibus non. Sapiente dolorem dolorum et veritatis magni, vitae eaque fugit illo est minima, illum nulla eius aperiam nemo iusto maiores reprehenderit quibusdam ut obcaecati. Assumenda temporibus explicabo voluptatum ipsam soluta quae nobis, ut aperiam harum. Accusantium magnam quasi dolore repellat fugit accusamus animi sint, sit recusandae explicabo, non architecto sapiente esse autem. Totam, architecto quo, incidunt fugit excepturi magnam sequi saepe temporibus molestias voluptas, ad ut.
</Layout>