---
interface Props {
  title: string;
}

import '../styles/Layout.css';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Astro Lading - {title}</title>
</head>
<body>
  <main class="mx-auto container ">
    <slot />
  </main>
</body>
</html>